# Fastlane ENV
IS_CI=false

# Match
GIT_URL=
GIT_BRANCH=
GIT_API_TOKEN=

# Firebase
FIREBASE_SERVICE_ACCOUNT=
FASTLANE_FIREBASE_APP_ID=
FASTLANE_FIREBASE_GROUP_TESTERS=

# AppStore
MATCH_PASSWORD=
FASTLANE_APPSTORE_KEY_ID=
FASTLANE_APPSTORE_ISSUER_ID=
FASTLANE_APPSTORE_KEY_CONTENT=
FASTLANE_APP_IDENTIFIER=
FASTLANE_APP_IDENTIFIERS=
FASTLANE_APPSTORE_EXTERNAL_DESTINATIONS=""

# MISC
FASTLANE_CHANGELOGS="Performance and Feature updates"

# Android (Production ONLY, Dev is already handled in build.gradle)
STORE_PASSWORD=
KEY_PASSWORD=
KEY_ALIAS=
