{
  "arrowParens": "always",
  "endOfLine": "auto",
  "plugins": ["prettier-plugin-tailwindcss"],
  "printWidth": 100,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "tailwindAttributes": ["className", "style"],
  "tailwindFunctions": ["clsx", "tw", "twMerge"],
  "trailingComma": "all",
  "useTabs": false
}
